.body{

}


body ul{
    padding: 1rem;
}

/* .bg-image { */
 
    /* height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#hamburger {
display: none;
/* max-height: 150px;
max-width: 200px;
width: 120px;
height: 50px;
top: 0;
right: 0; */
/* position:absolute */

}

main h1{
    display: flex;
    padding: var(--site-spacing);

}

section li{
    margin: 1rem;
}

h2{
    text-align: center;
    font-weight: bold; 
    padding: var(--site-spacing); 
}

button{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 98%;
    border: rgb(255, 255, 255);
    margin: 10px;
  
}

footer{

    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    margin: var(--site-spacing);
    margin-left: auto;
    margin-right: auto;
}

div{
    display: none;
}

@media screen and (max-width: 760px) {
body ul{
    display: none;
      
    }
}
@media screen and (max-width: 760px) {
.container{
    display: none;
      
    }
.hidden{
    width: 100%;
    height: auto;
    display: block;
    }
h1, footer{
    font-size: 4rem;
    margin: 50px;
    justify-content: center;
    right: 50%;
    width: 86rem;
    /* text-align: center; */
}    
}