.body{

}


body ul{
    padding: 1rem;
}

/* .bg-image { */
 
    /* height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.hamburger {
display: none;
max-height: 150px;
max-width: 200px;
width: 120px;
height: 50px;
top: 0;
right: 0;
position:absolute

}

main h1{
    display: flex;
    padding: var(--site-spacing);
}

footer{
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
    display: flex;
    width: 100%;
    justify-content: center;
    
    bottom: 0;
    margin: var(--site-spacing);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 550px) {
body ul{
    display: none;

        /* text-size-adjust: 16px;
        padding: 0.3rem */
    }
.hamburger{
    display: flex;
}
}